@import "../../styles";

:host {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". content .";
}

section {
  grid-area: content;
  max-width: 900px;
  margin:auto;
  padding: 30px;

  h1 {
    margin-left: -35px;
    margin-top: 10px;

    //$content-break-1: 1020px;
    @media (max-width: $content-break-1) {
      margin-left: 0;
    }

    //$content-break-1: 500px;
    @media (max-width: $content-break-2) {
      font-size: 26px;
    }

    //$content-break-1: 400px;
    @media (max-width: $content-break-3) {
      font-size: 21px;
    }
  }
}
