<section class="content">
  <h1>Ideas, Expectations, and the Development Cycle</h1>
  <p>Ideas are powerful when implemented in the right way. But accomplishing this requires an orchestra of moving parts
    to come together efficiently, so that the idea hits the necessary benchmarks of time and quality.</p>

  <p> For starters, most ideas are very general. They usually contain broad concepts like, connecting and sharing,
    providing information, or automating something manual. But when the rubber hits the road and it comes time to turn
    an idea into reality, the end product must be something very specific; the devil is in the details.</p>

  <p> Over the years, I’ve been dumbfounded at times watching a simple idea turn into something unwieldy for seemingly
    no reason. But what I’ve realized, is that very few things are simple when they are to be done right.</p>

  <p> Part of the issue, is that the development cycle should be at least a month for a regular feature. The development
    cycle includes planning, analysis, design, implementation, testing & integration, and maintenance. In an Agile
    system, the implementation by itself should take 2 – 4 weeks.</p>

  <p>Essentially, by the time the idea comes to reality it might be stale and/or conflict with other parts of the system
    causing bugs. Bugs extend more resources to the maintenance phase of the cycle and takes them away from new
    implementations.</p>

  <p>Ultimately, the answer is focus. Ideas are abundant, and everyone wants something that suits their own specific
    needs, but it’s impossible to satisfy such a large scope. The key is to have a clear, focused vision of what will be
    of greatest value by the time the idea has made it to production.</p>

  <p>Good ideas will stand the test of time, allowing future implementations to gracefully add features. Like a tree, if
    one focuses on the health of the roots and trunk, then the branches, limbs, and leaves will be able to thrive.</p>
</section>
