<a href="https://github.com/scbrading" target="_blank"><img id="git" src="../../assets/SVG/github%20icon%20gray.svg"
                                            alt="link to github account"></a>
<a href="https://www.linkedin.com/in/clarkbrading/" target="_blank"><img id="linkedin"
                                                                   src="../../assets/SVG/linkedin%20icon%20gray.svg"
                                                                   alt="link to linkedin account"></a>
