@import "../../styles";

:host {
  text-align: right;
  grid-area: social-media;
  align-self: start;


  //$footer-break-2: 760px;
  @media (max-width: $footer-break-2) {
    text-align: left;
  }

  @media (max-width: 375px) {
    align-self: center;
  }
}

a {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  //$footer-break-2: 760px;
  @media (max-width: $footer-break-2) {
    display: block;
    margin: 10px;
  }


}

