@import "../../styles";

:host {
  display: grid;
  grid-template-rows: 30px 300px 30px;

  div.blue-bar {
    background-color: #4169E1;
  }

  div.gray-bar {
    background-color: #CCCCCC;
  }

  section.banner-content-container {
    background: radial-gradient(#223878, #111C3C);

    div.wallpaper-tile {
      background: url("../../../src/assets/SVG/world_with_reflection_icon.svg") space center;
      height: 100%;
      width: 100%;

      div.wallpaper-cover-up {
        height: 100%;
        width: 540px;
        background: radial-gradient(#223878, rgba(17, 28, 60, .7));
        margin: auto;

        //banner-break-1: 750px;
        @media (max-width: $banner-break-1) {
          width: 100%;
        }

        div.banner-img {
          height: 100%;
          max-width: 530px;
          background-size: contain;
          margin: auto;

          //$banner-break-2: 530px;
          @media (max-width: $banner-break-2) {
            width: 100vw;
            height: calc(100vw * 30 / 53);
          }

          h1 {
            margin: 0 auto;
            padding: 10px 0;
            color: white;
            font-weight: 300;
            font-size: 31px;
            text-align: center;
            background: rgba(0, 0, 0, .5);
            border-radius: 4px;
            width: 80%;
            position: relative;
            top: 20px;
            //vertical-align: center;

            //$banner-break-2: 530px;
            @media (max-width: $banner-break-2) {
              font-size: 24px;
              top: 15px;
            }

            //$banner-break-3: 420px;
            @media (max-width: $banner-break-3) {
              font-size: 20px;
              top: 10px;
            }
            //$banner-break-4: 370px;
            @media (max-width: $banner-break-4) {
              font-size: 18px;
              //padding: 7px 0;
              //top: 15px;
            }
          }
        }
      }
    }
  }
  //$banner-break-2: 530px;
  @media (max-width: $banner-break-2) {
    width: 100vw;
    grid-template-rows: 30px auto 30px;
  }
}
