<section class="content">
  <section>
    <h1><span>SESRA</span><br>
      Director of Communications</h1>
    <a href="http://sesra.ussquash.com/"><img class="logo" src="../../../../assets/SVG/sesra_logo.svg" alt="sesra logo"></a>
    <br>
    <a href="http://sesra.ussquash.com/">sesra.ussquash.com</a>
    <p>The Southeastern Squash Racquets Association (SESRA) was founded in the 1980’s. It functions as a non-profit
      organization to aid the growth of the squash community in the southeast and promote development of junior squash
      players.</p>
    <p>In January 2017 I was invited to join the board as Director of Communications, to revive the website and expand
      community outreach using email programs and social media. Over this time, we’ve consistently added content to the
      website and updated the social media profiles to reflect the SESRA brand; club pros and contributors can log onto
      these profiles to share content.</p>
  </section>
  <section>
    <h2>WordPress Website</h2>
    <p><a href="http://sesra.ussquash.com/">sesra.ussquash.com</a> is a WordPress website hosted as a subdomain of ussquash.com. The technology representative from US Squash created an instance for us to use, based on their theme.</p>
    <p>The website provides a place for members to go to find out recent activities within the SESRA community. These articles appear on the home page. </p>
    <p>A calendar keeps track of upcoming events, including a compact version that sits on the home page. </p>
    <p>Visitors can learn about some of the well-known SESRA club pros in the “Know Your Pro” section. </p>
    <p>The SESRA twitter feed is embedded on the home page. </p>
  </section>
  <section>
    <h2>Constant Contact</h2>
    <p>Perhaps the most effective tool used by SESRA for its outreach goals is the email marketing tool, Constant Contact. It allows us to share important news with targeted SESRA members in a secure manner, as well as reach members who might not otherwise visit the website.</p>
    <p>Designing an email campaign and branding it with our logo and colors is simple.</p>
    <p>We have used Constant Contact to assemble email lists that go to specific groups of people.</p>
    <p>When email campaigns go out, we can see what the open rate was.</p>
  </section>
  <section>
    <h2>Facebook, Twitter, Instagram</h2>
    <p>SESRA has official social media accounts: <a href="https://www.facebook.com/groups/123206984393368">Facebook</a>, <a href="https://twitter.com/SesraMedia">Twitter</a>, & <a href="https://www.instagram.com/sesramedia/">Instagram</a>. Their accounts are accessible by trusted board members and contributors, so they can post things that are happening as they happen.</p>
  </section>
</section>
