<section class="content">
  <section>
    <h1><span>86Borders</span><br> Director of User Experience</h1>
    <a href="https://86borders.com/"><img class="logo" src="../../../assets/SVG/86borders_logo.svg"
                                          alt="86borders logo"></a> <br> <a href="https://86borders.com/">
    86Borders.com</a>
    <p>I’ve worked at 86Borders for nearly four years and gained the title Director of User Experience. While there,
      I’ve had extensive experience as a:</p>
    <ul>
      <li>Business Analyst</li>
      <li>Product Manager</li>
      <li>Designer</li>
      <li>Developer</li>
      <li>Video Editor</li>
      <li>Strategist</li>
    </ul>
  </section>
  <section>
    <h2>External Website</h2>
    <p><a href="https://86borders.com/">86borders.com</a> greets every user with a splash page, allowing them to quickly
      sign in, register, or view other marketing, help, or legal materials. Last year I planned, designed, generated the
      assets for, and coded the original framework for this section of the website. It’s fully responsive, accommodating
      screens of all sizes.
    </p>
    <div class="block-image "><img src="../../../assets/1x/esb_splash_responsive-80.jpg" alt=""></div>
    <p>The single page website looks the user’s cookies and identifies if the user is known and authenticated. If so,
      the sign in button (upper right) says “Open” and provides an immediate gateway to the internal platform.</p>
    <div class="block-image "><img src="../../../assets/1x/esb_quick_log_in-80.jpg" alt=""></div>
    <p>The sign in card has all of the features one would expect to see: email, password, forgot password, and access to
      registration.</p>
    <div class="block-image "><img class="single-page" src="../../../assets/1x/esb_sign_in-80.jpg" alt=""></div>

    <p>The registration card takes in the required user data for generating a profile. It implements form validation on
      the client side before making a request to the server.</p>
    <p>The rest of the external site has various animations, images, and text that are meant to provide confidence in
      the quality of 86Borders products, as well as tease the user into exploring more.</p>
  </section>
  <section>
    <h2>The 86Borders Platform</h2>
    <p>A few years after I joined 86Borders, I took over modifications and enhancements to the 86Borders platform. In
      that time, I’ve focused on improvements to internal navigation and group actions, like adding members. Below is an
      explanation of some of the key features of the platform.</p>
    <p>At its core, 86Borders is a social media inspired communications platform, which has a focus on unifying business
      processes that span disparate groups. </p>
    <p>Individual users can set up personal profiles with photos and other personal details. </p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/esb_edit_profile-80.jpg" alt=""></div>
    <p>Organizations can set up groups with logos, thumbnails, banners, and about info to identify their brand. </p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/esb_edit_group_abc_delivery-80.jpg" alt=""></div>
    <p>Administrators can explicitly add members to a private group, or they can make the group public, so members can
      find the group and join voluntarily. </p>
    <div class="block-image"><img src="../../../assets/1x/esb_onboarding_members_to_abc-80.jpg" alt=""></div>
    <p>Groups to which the user belong appear in the Group navigation bar on the left. </p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/esb_group_navigation-80.jpg" alt=""></div>
    <p>Groups are established within a group hierarchy, creating parent-child relationships. Admins of the parent group
      have access and administrative rights over child Groups. </p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/esb_group_hierarchy_usa-80.jpg" alt=""></div>

    <p>The platform hosts business-grade third-party applications called “widgets”, that use the relationships between
      Groups and individuals to define the workflow. 86Borders has created two comprehensive widgets on the platform:
      86EnRoute and a proprietary healthcare widget.</p>
    <p>In the following section I will go over the 86EnRoute widget, including the ecosystem it services.</p>
  </section>
  <section>
    <h2>86EnRoute</h2>
    <p>86EnRoute was the first product created on the platform. It is a logistics solution which offers a mobile app for
      workers, an Operations Dashboard for management, and client notifications with visibility.</p>
    <p>During the time that I’ve been in charge of the improvements to 86EnRoute, we’ve transformed the navigation and
      functionality of the worker app, focused on the Customer widget as being accessed through a hyperlink, and added
      more features to the Operations Dashboard widget.</p>
    <h3>The Worker App</h3>
    <p>The keystone piece of 86EnRoute is the worker app. It provides the day’s orders to the worker and transmits their
      location. Their location can be used to trigger geofence-based status updates and provide real-time location
      information to managers and customers.</p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/eser_worker_app_various_views-80.jpg" alt=""></div>
    <p>Branding is embedded in the app in the form of a thumbnail in the upper left corner of the header. The thumbnail
      used here is set for the particular group within the 86Borders platform.</p>
    <p>The Order List view displays a list of the worker’s orders. Right from the list the worker can call or get
      directions to the order destination. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/eser_worker_app_order_list-80.jpg"
                                  alt=""></div>
    <p>Tapping on an Order’s details will show more information about the order and provide access to functionalities
      like, taking a photo, getting an electronic signature, or advancing the status manually. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/eser_worker_app_order_details-80.jpg"
                                  alt=""></div>
    <p>Workers can see the locations of their orders on a map, allowing them to have an overview of the day’s
      route. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/eser_worker_app_route_map-80.jpg"
                                  alt=""></div>
    <h3>The Operations Dashboard</h3>
    <p>Administrators of the 86EnRoute solution have access to the Operations Dashboard. It consists of a map displaying
      points of interest, including worker locations, order pickup locations, and order dropoff locations. </p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/eser_dash_map_overview-80.jpg" alt=""></div>

    <p>The Settings panel provides configuration options for certain features. Primarily, when to send notifications to
      customers and what the notifications say. Also, in which status to grant visibility. </p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/eser_dash_settings_notifications_new-80.jpg" alt=""></div>

    <p>The Order History panel lets the user access details of past (and present) orders, including electronic signature
      images and proof of delivery photos. </p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/eser_dash_order_history-80.jpg" alt=""></div>

    <h3>Customer Notifications & Visibility</h3>
    <p>If configured to do so, customers receive notifications on status changes. They come in as text messages with a
      hyperlink to the Customer widget. Customers open the link and see details about the progress of their order on a
      web page.</p>
    <div class="block-image"><img class="single-page" src="../../../assets/1x/eser_customer_various_views-80.jpg" alt=""></div>

    <p>Admins may customize each notification message based on the status. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/eser_customer_sms-80.jpg" alt=""></div>

    <p>The Customer widget is branded by the group, using the thumbnails defined in Group settings. It also identifies
      the status of the order and provides an estimate of arrival time. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/eser_customer_accepted-80.jpg" alt="">
    </div>

    <p>If enabled for the current status, a map appears in the middle of the screen, marking the worker’s current
      location and the destination. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/eser_customer_approaching-80.jpg"
                                  alt=""></div>

    <p>Once the order is complete, the customer has the opportunity to review the service. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/eser_customer_review-80.jpg" alt="">
    </div>

  </section>
  <section>
    <h2>Healthcare</h2>
    <p>86Borders has a large healthcare focus. The piece that I am involved with here, is a transformation of 86EnRoute
      to suit healthcare related services.</p>
    <p>The adaptation requires an altered version of the worker app, which includes a vehicle inspection form, a route
      preparation check list, and the ability to ask survey questions on site. Adding these features to the worker app,
      provides a way for this particular non-profit company to affordably move from a manual paper-based logistics
      system to a fully electronic one. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/mow_home-80.jpg" alt=""></div>

    <p>At the beginning of the workday, workers have to complete a vehicle inspection form for insurance purposes. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/mow_vif-80.jpg" alt=""></div>

    <p>To prepare a route, all the worker has to do is load the appropriate number of each item into the van. This used
      to be a manual process with no cumulative tally. </p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/mow_route_prep-80.jpg" alt=""></div>
    <p>At the beginning of the workday, workers have to complete a vehicle inspection form for insurance purposes. </p>

    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/mow_route-80.jpg" alt=""></div>

  </section>
  <section>
    <h2>Text Message Marketing</h2>
    <p>A rather new product that we’ve developed on the 86Borders Platform is something called Text Message Marketing.
      It has been created as an offshoot of the idea of sending customers notifications via text message; text messages
      have a 98% read-rate.</p>
    <div class="block-image"><img class="mobile-app" src="../../../assets/1x/tmm_promo_sms-80.jpg" alt=""></div>

    <p>Because of the high read-rate of text messages, creating a promotional campaign using text messages can be highly
      effective. The barrier to entry, however, is the need to opt-in target phone numbers. Marketing messages have
      strict laws in comparison to service-based notifications.</p>

    <p>The Text Message Marketing widget is shown below. It consists of 4 quadrants providing related functionalities,
      focused on sending promotional messages to existing known customers.</p>
    <div class="block-image"><img class="platform-widget-only" src="../../../assets/1x/tmm_widget_hide_filter-80.jpg" alt=""></div>

    <p>Essentially, the user loads in a list of customers with phone numbers. The widget keeps track of phone numbers
      that have been opted-in. Opt-in messages and marketing messages can be changed at any time and sent
      separately. </p>
  </section>
  <hr>
  <section>
    <h1><span>SESRA</span><br> Director of Communications</h1>
    <a href="http://sesra.ussquash.com/"><img class="logo" src="../../../assets/SVG/sesra_logo.svg" alt="sesra logo">
    </a>
    <br> <a href="http://sesra.ussquash.com/">sesra.ussquash.com</a>
    <p>The Southeastern Squash Racquets Association (SESRA) was founded in the 1980’s. It functions as a non-profit
      organization to aid the growth of the squash community in the southeast and promote development of junior squash
      players.</p>
    <p>In January 2017 I was invited to join the board as Director of Communications, to revive the website and expand
      community outreach using email programs and social media. Over this time, we’ve consistently added content to the
      website and updated the social media profiles to reflect the SESRA brand; club pros and contributors can log onto
      these profiles to share content.</p>
  </section>
  <section>
    <h2>WordPress Website</h2>
    <p><a href="http://sesra.ussquash.com/">sesra.ussquash.com</a> is a WordPress website hosted as a subdomain of
      ussquash.com. The technology representative from US Squash created an instance for us to use, based on their
      theme.
    </p>
    <p>The website provides a place for members to go to find out recent activities within the SESRA community. These
      articles appear on the home page. </p>
    <div class="block-image"><img class="sesra" src="../../../assets/1x/sesra_home-80.jpg" alt=""></div>

    <p>A calendar keeps track of upcoming events, including a compact version that sits on the home page. </p>
    <div class="block-image"><img class="sesra" src="../../../assets/1x/sesra_calendar-80.jpg" alt=""></div>

    <p>Visitors can learn about some of the well-known SESRA club pros in the “Know Your Pro” section. </p>
    <div class="block-image"><img class="sesra" src="../../../assets/1x/sesra_know_your_pro-80.jpg" alt=""></div>

    <p>The SESRA twitter feed is embedded on the home page. </p>
  </section>
  <section>
    <h2>Constant Contact</h2>
    <p>Perhaps the most effective tool used by SESRA for its outreach goals is the email marketing tool, Constant
      Contact. It allows us to share important news with targeted SESRA members in a secure manner, as well as reach
      members who might not otherwise visit the website.</p>
    <p>Designing an email campaign and branding it with our logo and colors is simple.</p>
    <div class="block-image"><img class="sesra" src="../../../assets/1x/sesra_constant_contact-80.jpg" alt=""></div>

    <p>We have used Constant Contact to assemble email lists that go to specific groups of people.</p>
    <p>When an email campaign goes out, we can see what the open rate was.</p>
  </section>
  <section>
    <h2>Facebook, Twitter, Instagram</h2>
    <p>SESRA has official social media accounts: <a href="https://www.facebook.com/groups/123206984393368">Facebook</a>,
      <a href="https://twitter.com/SesraMedia">Twitter</a>, & <a
        href="https://www.instagram.com/sesramedia/">Instagram</a>. Their accounts are accessible by trusted board
      members and contributors, so they can post things that are happening as they happen.
    </p>
    <div class="block-image"><img class="sesra" src="../../../assets/1x/sesra_social_media-80.jpg" alt=""></div>

  </section>
</section>
