:host {
  grid-area: back-to-top;
  text-align: right;

  button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
  }

  &.compact > button {
    img {
      width: 40px;
    }

    span {
      display: none;
    }
  }
}
