<div id="app-container">
  <header>
    <app-id-card></app-id-card>
    <app-navigation></app-navigation>
    <app-social-media *ngIf="width$ > 760"></app-social-media>
  </header>
  <main>
    <app-banner></app-banner>
    <app-content></app-content>
  </main>
  <footer>
    <div class="footer-container">
      <app-social-media *ngIf="width$ <= 760"></app-social-media>
      <app-copyright></app-copyright>
      <app-back-to-top [class]="backToTopClasses$"></app-back-to-top>
    </div>
  </footer>
</div>
