@import "../../styles";

:host {
  grid-area: navigation;

  nav {
    //margin-top: 30px;
    text-align: center;

    p {
      display: inline-block;
      margin: 0 25px;
      color: #CCCCCC;
      font-size: 18px;
    }

    a {
      color: #606060;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;

      &.active {
        font-weight: 700;
        font-style: italic;
        color: #313131;
      }
    }

    @media (max-width: $nav-break-1) {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //margin: 0;
      height: 120px;
      p {
        display: none;
      }
      a {
        display: block;

        @media (max-width: $nav-break-2) {
          font-size: 16px;
        }
      }
    }
  }
}

