/* You can add global styles to this file, and also import other style files */

body {
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

div#app-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 140px auto 100px;
  //grid-template-areas: "header" "banner" "content" "footer";
  //background-color: maroon;

  header {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 185px 1fr 185px;
  }

  main {
    display: grid;
    grid-template-rows: auto auto;
  }

  footer {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  nav {
    text-align: center;
  }
}
