/* Colors */
$white: #fff;
$black: #000;
$banner-blue: #4169E1;
$banner-gray: #CCCCCC;
$navlink-active-gray: #313131;
$navlink-gray: #606060;
$footer-background: #1F1F1F;

/* Break Points */
$header-break-1: 760px;
$nav-break-1: 650px;
$nav-break-2: 370px;
$banner-break-1: 750px;
$banner-break-2: 530px;
$banner-break-3: 420px;
$banner-break-4: 370px;
$content-break-1: 900px;
$content-break-2: 500px;
$content-break-3: 400px;
$footer-break-1: 900px;
$footer-break-2: 760px;
$copyright-break-1: 680px;

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


  section.content {
    grid-area: content;
    max-width: 720px;
    margin:auto;
    padding: 30px;

    img.logo {
      margin: 30px 0 15px;
    }

    div.quick-link-icons{
      text-align: center;

      img {
        margin: 0 30px;
      }
    }

    a {
      color: #455CDB;

      &:hover {
        opacity: .7;
      }

      &:visited {
        color: #9645DB;
      }
    }

    p {
      font-size: 18px;
      line-height: 1.4em;
    }

    h1 {
      margin-left: -35px;
      margin-top: 10px;
      transition: margin-left 500ms;

      //$content-break-1: 900px;
      @media (max-width: $content-break-1) {
        margin-left: -5px;
      }

      //$content-break-1: 500px;
      @media (max-width: $content-break-2) {
        font-size: 26px;
      }

      //$content-break-1: 400px;
      @media (max-width: $content-break-3) {
        font-size: 21px;
      }
    }
  }
}

