/* Colors */
$white: #fff;
$black: #000;
$banner-blue: #4169E1;
$banner-gray: #CCCCCC;
$navlink-active-gray: #313131;
$navlink-gray: #606060;

/* Break Points */
$header-break-1: 760px;
$nav-break-1: 650px;
$nav-break-2: 370px;
$banner-break-1: 750px;
$banner-break-2: 530px;
$banner-break-3: 420px;
$banner-break-4: 370px;
